.my-info{
    display: flex;
    align-items: center;
}

.my-info img{
    border-radius: 50%;
    width: 25%;
    height: auto;
    margin-right: 20px;
}

.my-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    color: #f1efe8;
    font-family: 'Droid serif', serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: center;
  }
  
  .heading {
    background-image: url("https://mcdn.wallpapersafari.com/medium/50/40/Tnh47t.jpg");
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name {
    font-size: 36px;
    font-weight: 400;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    
    
  }
  
  .job {
    font-size: 26px;
    font-weight: 400;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    
  }
